<template>
  <div class="home">
    <h1>Starships galactic database</h1>
    <div class="search">
      <input
        type="text"
        placeholder="search"
        v-model="search_req"
        v-on:keyup.enter="() => {
          $router.push({ path: '/', query: { search: search_req } });
          update()
        }"/>
      <button
        v-if="search_req"
        @click="() => {search_req = ''; $router.push({ path: '/'}); update()}">X</button>
      <button
        @click="() => {
          $router.push({ path: '/', query: { search: search_req } });
          update()
        }">🔍</button>
    </div>
    <div class="result">
      <card v-for="(item, iter) in results"
            v-bind:key="iter"
            :ship="item"></card>
    </div>
    <div class="footer">
      <span>Powered by <a href="https://swapi.co/">https://swapi.co/</a></span>
      <span class="pagination" v-if="page_count > 1">
        <router-link
          v-if="ships.previous"
          :to="{ path: '/'+(page-1), query: search_query }"
        >previous</router-link>
        <router-link
          v-if="ships.next"
          :to="{ path: '/'+(page+1), query: search_query }"
        >next</router-link>
      </span>
    </div>
    <div v-if="loading" class="loading" ></div>
  </div>
</template>

<script>
// @ is an alias to /src
import Card from '@/components/Card.vue';

export default {
  name: 'home',
  props: ['route_page'],
  components: {
    Card,
  },
  data() {
    return {
      ships: {},
      search_req: '',
      loading: false,
    };
  },
  computed: {
    page_count() {
      return Math.ceil(this.ships.count / 10);
    },
    page() {
      if (this.route_page) {
        return parseInt(this.route_page, 10);
      }
      return 1;
    },
    results() {
      if (this.ships.results) {
        return this.ships.results;
      }
      return [];
    },
    search_query() {
      if (this.search_req === '') {
        return {};
      }
      return { search: this.search_req };
    },
  },
  methods: {
    update() {
      this.loading = true;
      this.axios.get(`https://swapi.co/api/starships/?page=${this.page}&search=${this.search_req}`)
        .then((res) => {
          this.ships = res.data;
          this.loading = false;
        // TODO: Тут должна быть обработка ошибок с выведом уведомления, но хватит.
        }, () => { this.search_req = ''; this.$router.push({ path: '/' }); });
    },
  },
  watch: {
    page() {
      this.update();
    },
  },
  mounted() {
    this.search_req = this.$route.query.search ? this.$route.query.search : '';
    this.update();
  },
};
</script>
<style lang="scss" scoped>
.home {
  .search {
    margin-top: 32px;
    display: flex;

    input {
      font-size: 18px;
      height: 32px;
      line-height: 32px;
      background: transparent;
      border: none;
      border-bottom: $base_color solid 1px;
      padding: 0px 10px;
      width: calc(100% - 32px);
    }

    button {
      font-size: 16px;
      min-width: 32px;
      height: 32px;
      line-height: 30px;
      background: transparent;
      border: $base_color solid 1px;
      cursor: pointer;

      &:hover {
        border: $base_color solid 2px;
        line-height: 28px;
      }
    }
  }
  .result {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &:after {
      content: '';
      width: 10em
    }
    .card {
      width: 32%;
      margin-bottom: 24px;

      @media (max-width: 675px) {
        & {
          width: 48%;
        }
      }
      @media (max-width: 460px) {
        & {
          width: 100%;
        }
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    .pagination {
      text-align: end;
      a {
        margin-left: 12px;
      }
    }
  }
}
</style>
