<template>
  <div class="ship">
    <div class="head" v-if="ship">
      <button @click="$router.go(-1)" class="back">◀</button>
      <h1>{{ ship.name }}</h1>
    </div>
    <div class="content" v-if="ship">
      <div class="left">
        <div class="block base">
          <div class="name">Base</div>

          <div class="field">
            <b>Model: </b>
            <span>{{ship.model}}</span>
          </div>
          <div class="field">
            <b>Manufacturer: </b>
            <span>{{ship.manufacturer}}</span>
          </div>
          <div class="field">
            <b>Starship class: </b>
            <span>{{ship.starship_class}}</span>
          </div>
          <div class="field">
            <b>Cargo capacity: </b>
            <span>{{ship.cargo_capacity}}</span>
          </div>
          <div class="field">
            <b>MGLT: </b>
            <span>{{ship.MGLT}}</span>
          </div>
          <div class="field">
            <b>Consumables: </b>
            <span>{{ship.consumables}}</span>
          </div>
          <div class="field">
            <b>Cost: </b>
            <span>{{ship.cost_in_credits}}</span>
          </div>
          <div class="field">
            <b>Crew: </b>
            <span>{{ship.crew}}</span>
          </div>
          <div class="field">
            <b>Hyperdrive rating: </b>
            <span>{{ship.hyperdrive_rating}}</span>
          </div>
          <div class="field">
            <b>Length: </b>
            <span>{{ship.length}}</span>
          </div>
          <div class="field">
            <b>Max atmosphering speed: </b>
            <span>{{ship.max_atmosphering_speed}}</span>
          </div>
          <div class="field">
            <b>Passengers: </b>
            <span>{{ship.passengers}}</span>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="block pilots">
          <div class="name">Pilots</div>
          <div v-if="ship.pilots.length">
            <div class="field" v-for="(item, iter) in pilots" v-bind:key="iter">
              {{ item }}
            </div>
          </div>
          <div v-else>
            No information
          </div>
        </div>
        <div class="block films">
          <div class="name">Films</div>

          <div v-if="ship.films.length">
            <div class="field" v-for="(item, iter) in films" v-bind:key="iter">
              {{ item }}
            </div>
          </div>
          <div v-else>
            No information
          </div>
      </div>
      </div>
    </div>
    <div v-if="loading" class="loading" ></div>
  </div>
</template>

<script>
export default {
  name: 'Ship',
  props: ['id'],
  data() {
    return {
      ship: undefined,
      pilots: [],
      films: [],
      loading: 0,
    };
  },
  mounted() {
    this.loading += 1;
    this.axios.get(`https://swapi.co/api/starships/${this.id}`).then((res) => {
      this.ship = res.data;

      this.loading += 1;
      const getAllPilots = res.data.pilots.map(item => this.axios.get(item));
      this.axios.all(getAllPilots).then(this.axios.spread((...resPilots) => {
        this.pilots = resPilots.map(item => item.data.name);
        this.loading -= 1;
      }));

      this.loading += 1;
      const getAllFilms = res.data.films.map(item => this.axios.get(item));
      this.axios.all(getAllFilms).then(this.axios.spread((...resFilms) => {
        this.films = resFilms.map(item => item.data.title);
        this.loading -= 1;
      }));

      this.loading -= 1;
    });
  },
};
</script>

<style lang="scss" scoped>
.ship {
  .head {
    display: flex;
    margin-bottom: 24px;

    button.back {
      margin-right: 16px;
      font-size: 24px;
      min-width: 32px;
      height: 32px;
      line-height: 30px;
      background: transparent;
      border: $base_color solid 1px;
      cursor: pointer;

      &:hover {
        border: $base_color solid 2px;
        line-height: 28px;
      }
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .block {
      border: $base_color solid 1px;
      padding: 12px 8px 8px;
      position: relative;
      margin-bottom: 24px;

      .name {
        position: absolute;
        top: -10px;
        background: $base_bg;
        font-weight: bold;
        padding: 0 2px;
      }
      .field {
        margin-bottom: 4px;
      }
    }

    .left {
      width: 65%;
    }
    .right {
      width: 33%;
    }

    @media (max-width: 600px) {
      .left {
        width: 100%;
      }
      .right {
        width: 100%;
      }
    }
  }
}
</style>
