<template>
  <router-link :to="'/ship/'+id" class="card">
    <div class="name">{{ship.name}}</div>
    <div class="field">
      <b>Model: </b>
      <span>{{ship.model}}</span>
    </div>
    <div class="field">
      <b>Manufacturer: </b>
      <span>{{ship.manufacturer}}</span>
    </div>
    <div class="field">
      <b>Capacity: </b>
      <span>{{ship.cargo_capacity}}</span>
    </div>
  </router-link>
</template>

<script>
export default {
  name: 'Card',
  props: ['ship'],
  computed: {
    id() {
      const arr = this.ship.url.split('/');
      return arr[arr.length - 2];
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  position: relative;
  border: $base_color solid 1px;
  padding: 12px 8px 8px;
  cursor: pointer;
  text-decoration: none;

  .name {
    position: absolute;
    top: -10px;
    background: $base_bg;
    font-weight: bold;
    padding: 0 2px;
  }
  .field {
    margin-bottom: 4px;
  }

  &:hover {
    border: $base_color solid 2px;
    padding: 11px 7px 7px;

    .name {
      top: -11px;
    }
  }
}
</style>
