<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
body {
  background: $base_bg;
}
* {
  @import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
  font-family: 'Share Tech Mono', monospace;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline:none;
  color: $base_color;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 960px;
  margin: 0 auto;
  padding: 32px 8px 16px;


  .loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 100vh;
    background: rgba(0,0,0,0.5);
    text-align: center;
    user-select: none;

    &:after {
      content: 'Loading...';
    }
  }
}
</style>
